@model Velocidad.Models.CarreraDetailViewModel

@{
    ViewData["Title"] = "Reporte";
}

<h1>Reporte de Carrera #@Html.DisplayFor(model => model.Id)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MayorVelocidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MayorVelocidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenorVelocidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenorVelocidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromedioVelocidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromedioVelocidad)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Corredor #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorredorDetalle.FirstOrDefault().Tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorredorDetalle.FirstOrDefault().Velocidad)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CorredorDetalle.Select((value, iter) => (value, iter)))
        {
            <tr>
                <td>
                    @{ int idx = item.iter + 1; }
                    @idx
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Tiempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Velocidad)
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Index">Regresar</a>
</div>
