@model IEnumerable<Velocidad.Models.CarreraIndexViewModel>

@{
    ViewData["Title"] = "Carreras";
}

<h1>Carreras</h1>

<p>
    <a asp-action="Create">Nueva Carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCorredores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (Html.DisplayFor(modelItem => item.TotalCorredores) == null)
                {
                    @Html.Display("N/D")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.TotalCorredores)
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
